<html>
    <style>
         td {
                border: 1px #DDD solid;
                padding: 1px;
                cursor: pointer;
            }

            .selected {
                background-color: #6495ED;
                color: #FFF;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
             .css-serial {
            counter-reset: serial-number;
             }

            .css-serial td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }     
            .btn {
            width: 230px;
            background-color: #6495ED;
            border: none;
            color: white;
            padding: 3px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
        }       
             .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
                position: relative;
                background-color: #fefefe;
                margin: auto;
                padding: 0;
                border: 1px solid #888;
                width: 33%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 0.4s;
                animation-name: animatetop;
                animation-duration: 0.4s
            }

            /* The Close Button */
            .close {
                color: white;
                float: right;
                font-size: 20px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

            .modal-header {
                padding: 2px 16px;
                background-color: #6495ED;
                color: white;
            }

            .modal-body {padding: 2px 16px;}

            .modal-footer {
                padding: 2px 16px;
                background-color: #6495ED;
                color: white;
            }  
    </style>
</html>

@{
    ViewBag.Title = "ShowUsers";
}
@model WholesaleStore.Models.UsersModel

<form action="@Url.Action("DeleteUser", "User")" method="post" target="_self" id="FormShowUsers">
    <input type="hidden" name="userId" id="hiddenDeletedUserId" />
    <fieldset>
        <legend>Users:</legend>
        <img src="~/Content/Images/Users.jpg" alt="Sample Photo" style="width:115px;height:100px;" />
        <table style="width:30%" class="css-serial" id="tableUsers">
            <tr>
                <th>#</th>
                <th>User name</th>
                <th>UserType</th>
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr data-userid="@user.Id">
                    <td align="center"></td>
                    <td>@user.Name</td>
                    <td align="center">@user.Usertype.Name</td>
                </tr>
            }
        </table>
    </fieldset>
</form>

<!-- Modal content -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">Close</span>
            <h3>Info</h3>
        </div>
        <div class="modal-body">
            <br />
            <h2 style="color:red;">The User is deleted!</h2>
        </div>
        <div class="modal-footer">
            <h2></h2>
            <h2></h2>
            <br />
        </div>
    </div>
</div> @*Modal window - User is deleted!*@

<fieldset>
    <legend>Options</legend>
    <form action="@Url.Action("NewUser", "User")" method="get" target="_self">
        <button type="submit" class="btn">Add new user</button>
    </form>

    @*<input type="hidden" name="userId" value="@ViewBag.userId" />*@ 
    @if (@ViewBag.CurrentUserId == 1)
    {
        <div>
            <button class="btn" id="btnDelete">Delete user</button>

            @if (ViewData["ErrorMessageEmptyUser"] != null)
            {
                <b style="color:red">@ViewData["ErrorMessageEmptyUser"]</b>
            }
        </div>@*Delete Button*@
    }
    else
    {
        <div>
            <button class="btn" id="btnDelete">Delete user</button>

            @if (ViewData["ErrorMessageEmptyUser"] != null)
            {
                <b style="color:red">@ViewData["ErrorMessageEmptyUser"]</b>
            }

            @if (ViewData["ErrorMessageNotAdminUser"] != null)
            {
                <b style="color:red">@ViewData["ErrorMessageNotAdminUser"]</b>
            }
            
        </div>@*Delete Button*@
    }
   
    
    <br />
    <form action="@Url.Action("Index", "Home")" method="post" target="_self">
        <input type="submit" value="Home" class="btn" />
    </form>

    <form action="@Url.Action("LoginPage", "Login")" method="post" target="_self">
        <input type="submit" value="Log out" class="btn" />
    </form>
</fieldset>


<script>
    function highlight(e) {
        if (selected[0]) selected[0].className = '';
        e.target.parentNode.className = 'selected';

        var userId = $("tr.selected").attr("data-userid");

        $("#hiddenDeletedUserId").val(userId);
    }

    var table = document.getElementById('tableUsers'),
    selected = table.getElementsByClassName('selected');
    table.onclick = highlight;

    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("btnDelete");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        if ($("#hiddenDeletedUserId").val() && @ViewBag.CurrentUserId == 1) {

            modal.style.display = "block";
            setTimeout(function () { debugger; $("#FormShowUsers").submit(); }, 1000);
        }
        else {
            debugger; $("#FormShowUsers").submit();
        }
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

