@{
    ViewBag.Title = "LoginPage";
}
@model WholesaleStore.Models.UsersModel

<style>
    #LoginFieldSet {
        width:28%; 
        height:60%; 
        position:center; 
        text-align:left;
        margin: auto;
        }
    .btnLoginForm {
            width: 207px;
            background-color: #6495ED; 
            border: none;
            color: white;
            padding: 4px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;            
        }
    div.relative {
        position: relative;
        left: 68px;
    }
</style>

<form action="@Url.Action("CheckLogin")" method="post" target="_self">    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="LoginFieldSet">
        <fieldset id="field" onmouseover="hideing();" onmouseout="showing();">
            <legend>Login form</legend>
            <img src="~/Content/Images/Login.jpg" alt="Sample Photo" style="width:100px;height:100px;" />
            <h2>Please, log in the system</h2>

            <b>  Login: </b> &nbsp; &nbsp; &nbsp;&nbsp;
            <input type="text" name="user" size="25" value="@ViewBag.user" />
            @if (ViewData["ErrorMessageLog"] != null)
            {
                <b style="color:red">@ViewData["ErrorMessageLog"]</b>
            }
            @if (ViewData["ErrorMessageWrongLog"] != null)
            {
                <b style="color:red">@ViewData["ErrorMessageWrongLog"]</b>
            }
            <br />
            <br />

            <b> Password: <input type="password" name="password" size="25"></b>
            @if (ViewData["ErrorMessagePassword"] != null)
            {
                <b style="color:red">@ViewData["ErrorMessagePassword"]</b>
            }
            <br />
            <br />
            <div class="relative">
                <input type="submit" value="Submit" class="btnLoginForm">
            </div>
            <br />
            <div class="relative">
                <a href="@Url.Action("NewUser", "User")"><strong>Register as the new user</strong></a>
            </div>             
        </fieldset>
    </div>
</form>


