    <style> 
        .css-serial {
            counter-reset: serial-number; 
        }

        .css-serial td:first-child:before {
            counter-increment: serial-number; 
            content: counter(serial-number); 
         }

         .btnAdd {
            width: 130px;
            background-color: #6495ED;
            border: none;
            color: white;
            padding: 3px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
        }

          .btn {
            width: 230px;
            background-color: #6495ED;
            border: none;
            color: white;
            padding: 3px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

    </style>

@{
    ViewBag.Title = "AddOrderItem";
}

@model WholesaleStore.Models.OrderItemModel

<form action="@Url.Action("SaveOrderItem")" method="post" target="_self">
    <input type="hidden" value="@ViewBag.orderId" name="orderId" />
    <input type="hidden" value="@ViewBag.userId" name="userId" />
    <fieldset>
        <legend>Add items to the order</legend>
        <h4>Order number: @Model.Order.OrderNumber</h4>
        <h4>Customer name: @Model.Order.Customer.Name</h4>
        <h4>Order date/time: @Model.Order.Date</h4>
        <h4>User name: @Model.Order.User.Usertype.Name.ToLower() @Model.Order.User.Name</h4>
        <b> Add product: </b>&nbsp;&nbsp;
        <select size="1" name="productId">
            <option disabled>Choose product</option>
            @foreach (var pr in Model.Products)
            {
                <option value="@pr.Id">@pr.Name - @pr.Price grn; Amount: @pr.Amount </option>
            }
        </select>
        <br />
        <br />
        <b> Amount: </b>&nbsp;
        <input type="text" name="amount" /> &nbsp;
        &nbsp;&nbsp;&nbsp;
        <input type="submit" value="Add to order" class="btnAdd">
        @if (ViewData["ErrorMessageEmptyAmount"] != null)
        {
            <b style="color:red">@ViewData["ErrorMessageEmptyAmount"]</b>
        }

        @if (ViewData["ErrorMessageWrongAmount"] != null)
        {
            <b style="color:red">@ViewData["ErrorMessageWrongAmount"]</b>
        }
        @if (ViewData["ErrorMessageTooBigAmount"] != null)
        {
            <b style="color:red">@ViewData["ErrorMessageTooBigAmount"]</b>
        }      
        <br />
    </fieldset>

    <fieldset>
        <legend>Order items</legend>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>

        <table class="css-serial" style="width:40%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Barcode</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Sum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Order.Items)
                {
                    var sum = (decimal)item.Amount * item.Price;
                    <tr>
                        <td align="center"></td>
                        <td align="center">@item.Product.BarCode</td>
                        <td>@item.Product.Name</td>
                        <td align="center">@item.Amount</td>
                        <td align="center">@item.Product.Unit.Name</td>
                        <td align="center">@item.Price grn</td>
                        <td align="center"> @sum grn</td>
                    </tr>
                }
            </tbody>  
            @if (Model.Order.Items.Count != 0) 
            { 
                <tr>
                    <th colspan="6" align="right" font-weight normal>Total sum:&nbsp;</th>
                    <th>@Model.Order.TotalSum grn</th>
                </tr>                          
            }
        </table>
        <b> Item quantity: @Model.Order.Items.Count </b>
    </fieldset> @*Item table*@
</form>

<form action="@Url.Action("ShowOrderItems", "OrderItem")" method="post" target="_self">
    <input type="submit" value="Save & Show Order" class="btn" />
    <input type="hidden" value="@ViewBag.orderId" name="orderId" />
</form>

<form action="@Url.Action("Index", "Home")" method="post" target="_self">
    <input type="submit" value="Home" class="btn" />
</form>

<form action="@Url.Action("LoginPage", "Login")" method="post" target="_self">
    <input type="submit" value="Log out" class="btn" />
</form>

