@{
    ViewBag.Title = "AddOrder";
}
@model WholesaleStore.Models.HomeModel


<style>
    #NewOrderFieldSet {
        width: 22%;
        height: 60%;
        position: center;
        text-align: left;
        margin: auto;
    }

    .btnSaveOrder {
        width: 160px;
        background-color: #6495ED;
        border: none;
        color: white;
        padding: 4px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
    }

    .button1 {
            width: 160px;
            background-color: #6495ED; 
            border: none;
            color: white;
            padding: 4px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
        }

    div.relative {
        position: relative;
        left: 66px;
    }

</style>


<form action="@Url.Action("NewOrder")" method="post" target="_self">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="NewOrderFieldSet">
        <fieldset>
            <legend>New order form</legend>
            <br />
            <img src="~/Content/Images/NewItem.jpg" alt="Sample Photo" style="width:80px;height:40px;" />
            <br />
            <b>  Customer: </b>
            <select size="1" name="customerId" style="width: 160px">
                @*<option disabled>Choose customer</option>*@
                <option value="" style="display:none; color:grey;">Choose customer</option>
                @foreach (var ct in Model.Customers)
                {
                    <option value="@ct.Id">@ct.Name</option>
                }
            </select>
            <br />
            @if (ViewData["ErrorMessageEmptyCustomer"] != null)
            {  
                <b style="color:red">@ViewData["ErrorMessageEmptyCustomer"]</b>
            }
            <br />
            <br />
            <div class="relative">
                <input type="submit" value="Save" class="btnSaveOrder">
            </div>           
        </fieldset>
        <input type="hidden" name="userId" value="@ViewBag.userId" />
        </div>
</form>

<div id="NewOrderFieldSet">
    <fieldset>
        <legend>Options:</legend>
        <div class="relative">
            <form action="@Url.Action("AddCustomer", "Customer")" method="post" target="_self">
                <button type="submit" class="button button1">Add customer</button>
            </form>
            <br />
            <form action="@Url.Action("Index", "Home")" method="post" target="_self">
                <input type="submit" value="Home" class="button1" />
            </form>
            <form action="@Url.Action("LoginPage", "Login")" method="post" target="_self">
                <input type="submit" value="Log out" class="button1" />
            </form>
        </div>
    </fieldset>    
</div>












